<!DOCTYPE HTML>
    <html>
        <head>
            <meta charset="utf-8" />
            <!-- Set the viewport width to device width for mobile -->
            <meta name="viewport" content="width=device-width" />
            <title>
            <% if (typeof pageTitle != "undefined") { %>
               <%= pageTitle %>
            <% } else { %>
            Pawtrackr
            <% } %>
            </title>
            <!-- Included CSS Files -->
            <link rel="stylesheet" href="/css/foundation.css">
            <link rel="stylesheet" href="/css/styles.css">
            <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
        </head>
    
        <body>
            <div class="row">
                <div class="twelve columns">
                    <div class="header">
                        <div class="row">
                            <div class="four columns">
                                <a href="/"><img src="/img/pt_logo_nodogs.png" class="logo" width="150" alt="Some Text"></a>
                            </div>
                            <% if (!user) { %> 
                            <div class="two columns" id="logIn buttons">
                                <ul class="actions">
                                    <li>
                                        <a href="/login" class="nice small white radius button" value="Log in"> Log in </a>
                                    </li>
                                    <li>
                                        <a href="/signup" class="nice small white radius button" value="Sign up"> Sign up </a>
                                    </li>                            
                                </ul>
                            </div>
                           <% } else { %> 
                            <div class="two columns" id="logIn buttons">
                                <ul class="actions">
                                    <li>
                                        <a href="/user/<%= user.fsID %>/add_dogs" class="nice small white radius button" value="Add Dogs"> Add Dogs </a>
                                    </li>
                                    <li>
                                        <a href="/dogparks" class="nice small white radius button" value="Dog Parks"> Dog Parks </a>
                                    </li>
                                    <li>
                                    <div id="user">
                                        <a href="/profile/<%= user.fsID %>"> <%= user.name.givenName %> <img src="https://ss0.4sqi.net/img/chrome/iconArrow-8eb40ef0fa51897180caa7feee197de9.png" height="5" width="7" class="userArrow" alt="">
                                        </a>
                                        <div class="translate" id="userMenu">
                                          <ul>
                                            <li class="selected"><%= user.name.givenName %></li>
                                                <li class="myProfile"><a href="/profile/<%= user.fsID %>" value="Profile"> Profile </a></li>
                                                <li class="myProfile"><a href="/user/<%= user.fsID%>/friends" value="Friends"> Friends </a></li>
                                                <li class="myProfile"><a href="/user/<%= user.fsID %>/myparks" value="Parks"> My Parks </a></li>
                                                <li class="myProfile"><a href="/logout" value="logout"> Logout </a></li>
                                            </ul>
                                        </div>
                                      </div>
                                    </li>
                                </ul>
                            </div>

                        <% } %>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <%- body %>
                    </div>
                </div>
            </div>
            <!-- JavaScript at the bottom for fast page loading -->
            <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script src="/js/pawtrackr.js" type="text/javascript"></script>
            <script src="/js/jquery.ae.image.resize.min.js"></script>
            <script type="text/javascript" src="/js/jquery.imagefit.js"></script>
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA2vL2KnmS5SFo6QnH6UEgSFUgmEALSnLk&sensor=false"></script>
        </body>
    </html>