<div class="row">
   <div class="twelve columns">
      <h2>Welcome, <%= user.name.givenName %></h2>
   </div>
</div>
<div class="four columns" id="history">
   <ul><h4>Check-In History</h4><hr>
   <li>93rd St. Yesterday</li>
   <li>86th St. 3 Days ago</li>
   <li>etc</li>
   </ul>
</div>
<div class="row">
   <div class="seven columns">
      <p><% for(i=0; i<user.dogs.length; i++) { %>
      <div class="row">
            <div class="dog-image"><a href="/user/<%= user.fsID %>/dog/<%=user.dogs[i]._id %>">
                <img src="https://s3.amazonaws.com/<%= s3bucket %>/<%= user.dogs[i].profileImage[0].filename %>" class="resizeme" height=150 width=150>
            </a></div>
            <div class="dogNameDisplay"><b><%= user.dogs[i].dogname %> </b><br></div>
            <div class="dogInfoDisplay"><%= user.dogs[i].gender %> | <%= user.dogs[i].breed %><br/></div>
            <div class="dogBirthdayDisplay">Born on <%=user.dogs[i].birthday.month %> / <%= user.dogs[i].birthday.day %> / <%= user.dogs[i].birthday.year %></div>
            </p><br/><br/><hr>
            <% } %>
      </div>
      <a href="/user/:fsID/add_dogs" class="nice tiny white radius button" id="addAnotherDog"> Add Another Dog </a>
   </div>
</div>

