<div class="row">
   <div class="twelve columns">
      <h2>Welcome, <%= user.name.givenName %></h2>&nbsp
      <a href="/update/<%= user.fsID %>" class="nice tiny white radius button" id="edit_button"> Edit </a>
   </div>
</div>
<div class="four columns" id="history">
   <ul><h4>Check-In History</h4><hr>
   <li>93rd St. Yesterday</li>
   <li>86th St. 3 Days ago</li>
   <li>etc</li>
   </ul>
</div>
<div class="row">
   <div class="seven columns">
      <p><% for(i=0; i<user.dogs.length; i++) { %>
      <div class="row">
            <ul class="delete_buttons">
               <li><a href="/profile/<%= user.fsID %>" class="nice tiny white radius button" id="delete_button"> Delete </a></li>
            </ul>
            <div class="dog-image"><img src="http://placehold.it/150"></div>
            <div class="dogNameDisplay"><b><%= user.dogs[i].dogname %> </b><br></div>
            <div class="dogInfoDisplay"><%= user.dogs[i].gender %> | <%= user.dogs[i].breed %><br/></div>
            <div class="dogBirthdayDisplay">Born on <%=user.dogs[i].birthday.month %> / <%= user.dogs[i].birthday.day %> / <%= user.dogs[i].birthday.year %></div>
            </p><br/><br/><hr>
            <% } %>
      </div>
   </div>
</div>

