<div class="row">
    <div class="four columns">
        <h2>Create Account</h2>
    </div>
</div>
<div class="login_container">
    <div class="row">
        <div class="two columns">
            <h4>Login Info</h4>
            <br/>
        </div>
    </div>
    <form name="signup" method="post" action="/signup">
        <div class="row">
            <div class="twelve columns">
                <label for="username">Displayname:</label>
                <input type="text" class="input-text" name="username" placeholder="" id="username" />
            </div>
        </div>
        <div class="row">
            <div class="five columns">
                <label for="email">Email Address:</label>
                <input type="text" class="input-text" name="email" placeholder="" id="email" />
            </div>
        </div>
        <div class="row">
            <div class="five columns">
                <label for="location">Location:</label>
                <input type="text" class="input-text" name="location" placeholder="" id="location" />
            </div>
        </div>
        <div class="row">
            <div class="five columns">
                <label for="password">Password:</label>
                <input type="password" class="input-text" name="password" placeholder="" id="password"/>
            </div>
        </div>
            <div class="row">
            <div class="five columns">
                <label for="password">Confirm Password:</label>
                <input type="password" class="input-text" name="rpassword" placeholder="" id="rpassword"/>
            </div>
        </div>
        <button type="submit" class="nice small white radius button" id="button" value="Sign Up "> Sign up </button>
</div>
</form>