<div class="row">
    <div class="twelve columns">    
        <div class="singleDog view">
            <div class="dog-image"><a href='#'>
                <img src="https://s3.amazonaws.com/<%= s3bucket %>/<%= dog.profileImage[0].filename %>" height=150 width=150>
            </a></div>
            <div class="dogNameDisplay"><b><%= dog.dogname %> </b><br></div>
            <div class="dogInfoDisplay"><%= dog.gender %> | <%= dog.breed %><br/></div>
            <div class="dogBirthdayDisplay">Born on <%= dog.birthday.month %> / <%= dog.birthday.day %> / <%= dog.birthday.year %></div>
        </div>
   </div>
</div>
<div class="row">
    <div class="two columns" id="dogOptions">      
        <ul class="dogOptions">
            <li><a href="/update/<%= user.fsID %>" class="nice tiny white radius button" id="edit_button"> Edit <%= dog.dogname %> </a></li>
            <li><a href="/deleteDog/<%= dog._id %>" class="nice tiny white radius button" id="delete_button"> Delete <%= dog.dogname %> </a></li>
        </ul>
    </div>
</div>